* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: solid ; */
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
}

.left {
  flex: 1;
  background-color: #1F2937;
}
  
.right {
  flex: 1;
  background-color: #1F2937;
}

header {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  flex: 3;
  padding: 20px;
}

.header-logo {
  font-size: 24px;
  font-weight: bolder;
  color: #f9faf8;
  flex: 1;
}

.header-links {
  flex: 1;
}

ul {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

img {
  width: 100%;
  height: auto;
  flex: 1;
}

.main {
  display: flex;
}

.main-main {
    flex: 3;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: #1F2937;
    padding: 150px 20px;
    align-items: center;
}
  
h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 20px;
}

.main-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 20px;
}

.main-pic {
    flex: 1;
}

.hero-button {
  background-color: #3882f6;
  border-radius: 6px;
  padding: 10px 30px;
  border-width: 0px;
  color: #f9faf8;
  font-weight: bold;
  margin-top: 10px;
  width: fit-content;
}


.info {
  display: flex;
  background-color: transparent;
}

.info-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;
  padding: 0px 0px 50px;
}

h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  padding: 20px;
}

.info-list {
  display: flex;
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  text-align: center;
  margin: 8px;
}

.list-pic {
  width: 100%;
  border: solid #3882f6;
  border-width: 4px;
  border-radius: 10px;
}

.quote {
  display: flex;
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
  padding: 60px 30px;
}

.quote-main {
  display: flex;
  flex: 3;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  flex-direction: column;
}

.thor {
  font-size: 24px;
  font-weight: bolder;
  align-self: flex-end;
}